/* body{
  margin: 0;
  font-family: "Vesper Libre", serif;
  text-decoration-color: #1a1a1a;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}

#head_logo {
  background-color: black;
  text-align: center;
  margin: 0;
  padding-top: 8px;
}

#img {
  width: 100%;
}

#News {
  display: inline-block;
  font-family: "Open Sans", serif;
  text-transform: uppercase;
  text-decoration: 2px solid underline;
  text-decoration-color: red;
  padding-left: 20px;
  
}

#Heading {
  padding-left: 20px;
  line-height: 130%;
  

} */

body {
  font-family: "Vesper Libre", serif;
  color: #1a1a1a;
  line-height: 1.5rem;
  margin: 0%;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
}

#head_logo {
  padding-top: 8px;
}

main {
  padding: 20px;
}

#Main_Img {
  width: 100%;
  margin-top: 1.25rem;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-bottom: 2px solid #ff3530;
}


figcaption, h2, #News, #Subtitle, #Author, #Date {
  font-family: "Open Sans", serif;
}

#Author, #Date {
  font-size: 0.85rem;
  margin-bottom: 0;
}

figcaption {
  font-size: 0.75rem;
  text-align: center;
  color: #757575;
  font-style: italic;
}

ul li {
  list-style: none;
  padding-left: 0px;
}

a:link {
  color: #1a1a1a;
  text-decoration: underline;
}


a:hover {
  text-decoration: none;
  color: #ff3530;
}


/* Having trouble aligning the list in index.html. */

